* {
    font-family: Poppins, sans-serif;
}

body {
    margin: 0px;
    background-color: beige;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu {
    display: inline-block;
    text-decoration: none;
    width: 33%;
    height: 35px;
    padding-top: 15px;
    text-align: center;
    color: white;
    transition: 0.5s;
}
.menu:hover {
    font-weight: bold;
    background-color: rgb(255, 180, 109);
    color: black;
    height: 45px;
}

#geral {
    margin: 0 auto;
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: 1000px;
}

#topo {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 200px;
    font-size: 90px;
    text-align: center;
    color: white;
}

#menu {
    background-color: rgb(247, 131, 22);
    width: 100%;
    height: 50px;
}
 
#slide {
    background-image: url(https://www.sciencebuddies.org/a9ligRE6y-42KhmQ5vDqjF72n0k=/650x365/-/https/www.sciencebuddies.org/cdn/Files/18257/4/self-driving-arduino-car.jpg);
    background-repeat: no-repeat;
    width: 1000px;
    height: 250px;
}

#conteudo {
    background-color:rgb(216, 216, 216);
    width: 1000px;
    height: 10px;
}

.chaves {
    display: inline-block;
    text-decoration: none;
    width: 24%;
    height: 35px;
    padding-top: 15px;
    text-align: center;
    color: rgb(255, 254, 252);
    transition: 0.5s;
}

#chaves {
    background-color: rgb(110, 110, 110);
    flex: auto;
    height: 50px;
}

#tituloint {
    margin-left: 2rem;
    margin-bottom: 15px;
}

.integrante {
    margin-left: 2rem;
    margin-bottom: 5px;
    border: medium solid red;
}

.paragrafo {
    margin-top: 5px;
    margin-left: 1rem;
    margin-bottom: 25px;
    text-indent: 2rem;
}

.quadro {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
}

.quadro > div {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    flex: 1;
}

.tecnoracers {
    padding-top: 3rem;
    margin: 0px;
}

.time {
    margin-top: 5px;
    width: 10rem;
}

.jogo {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.blank {
    margin-top: 6rem;
}

#tituloregistro {
    margin: 1rem 0rem 0rem 1rem;
}

#registro {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 18rem;
}

#cont_integrantes {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
}

#cont_integrantes > div {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    flex: 1;
    min-height: 537px;
}

.fotos {
    width: 200px;
}