body {
    margin: 0px;
    background-image: url(https://media.licdn.com/dms/image/C4D1BAQEpMbpxnU7vfw/company-background_10000/0/1637936213860?e=1687824000&v=beta&t=GcJYCwjGfHDi_wAKpG9bCGesmGpICc5nNdDShuj4XuY);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu {
    display: inline-block;
    text-decoration: none;
    width: 150px;
    height: 35px;
    padding-top: 15px;
    text-align: center;
    color: white;
    transition: 0.5s;
}
.menu:hover {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 45px;
}

#geral {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 1200px;
}

#topo {
    background-color: rgb(0, 0, 0);
    width: 1000px;
    height: 200px;
    font-size: 90px;
    text-align: center;
    color: white;
}

#menu {
    background-color: rgb(247, 131, 22);
    width: 1000px;
    height: 50px;
}
 
#slide {
    background-color: yellowgreen;
    background-image: url(https://fastly.picsum.photos/id/361/900/250.jpg?hmac=iNQQ7W4MI9OJyG7UdDrmDcLfwSZcGgw28n65oMER8Uo);
    width: 1000px;
    height: 250px;
}

#conteudo {
    background-color:rgb(255, 255, 255);
    width: 1000px;
    height: 10px;
}

.chaves {
    display: inline-block;
    text-decoration: none;
    width: 330px;
    height: 35px;
    padding-top: 15px;
    text-align: center;
    color: rgb(255, 254, 252);
    transition: 0.5s;
}

.chaves:hover {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 45px;
}

#chaves {
    background-color: rgb(46, 115, 232);
    width: 1000px;
    height: 50px;
}

#espaço {
    background-color:bisque;
    width: 1000px;
    height: 10px;
}

.quadro{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.quadro > div {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
}